In [1]:
import pandas as pd
import numpy as np

In [45]:
title = pd.read_csv(r"C:\Users\pc world\Downloads\movie_data\movies.csv")

In [46]:
title.head(1)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [43]:
imdb = pd.read_csv(r"C:\Users\pc world\Downloads\movie_data\links.csv")

In [44]:
imdb.head(1)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [41]:
rating = pd.read_csv(r"C:\Users\pc world\Downloads\movie_data\ratings.csv")

In [42]:
rating.head(1)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703

In [39]:
tag= pd.read_csv(r"C:\Users\pc world\Downloads\movie_data\tags.csv")

In [40]:
tag.head(1)

   userId  movieId    tag   timestamp
0       2    60756  funny  1445714994

In [48]:

# Group by 'movieId' and calculate count and mean of 'rating'
grouped_df = rating.groupby('movieId')['rating'].agg(['count', 'mean']).reset_index()

# Rename columns for clarity (optional)
grouped_df.columns = ['movieId', 'rating_count', 'average_rating']

print(grouped_df)

      movieId  rating_count  average_rating
0           1           215        3.920930
1           2           110        3.431818
2           3            52        3.259615
3           4             7        2.357143
4           5            49        3.071429
...       ...           ...             ...
9719   193581             1        4.000000
9720   193583             1        3.500000
9721   193585             1        3.500000
9722   193587             1        3.500000
9723   193609             1        4.000000

[9724 rows x 3 columns]

In [49]:

merged_df = pd.merge(title, grouped_df, on='movieId', how='inner')

print(merged_df)

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9719   193581  Black Butler: Book of the Atlantic (2017)
9720   193583               No Game No Life: Zero (2017)
9721   193585                               Flint (2017)
9722   193587        Bungo Stray Dogs: Dead Apple (2018)
9723   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres  rating_count  \
0     Adventure|Animation|Children|Comedy|Fantasy           215
1                      Adventure|Children|Fantasy           110
2                                  Comedy|Romance            52
3                            Comedy|Drama|Romance             7
4                                          Comedy            49
...                                           ...           ...
9719              Action|Animation|Comedy|Fantasy             1
9720                     Animation|Comedy|Fantasy             1
9721                                        Drama             1
9722                             Action|Animation             1
9723                                       Comedy             1

      average_rating
0           3.920930
1           3.431818
2           3.259615
3           2.357143
4           3.071429
...              ...
9719        4.000000
9720        3.500000
9721        3.500000
9722        3.500000
9723        4.000000

[9724 rows x 5 columns]

In [50]:
import pandas as pd

# Assuming you already have the merged DataFrame from previous steps
# Filter movies with more than 50 ratings
filtered_df = merged_df[merged_df['rating_count'] > 50]

print(filtered_df)

      movieId                             title  \
0           1                  Toy Story (1995)
1           2                    Jumanji (1995)
2           3           Grumpier Old Men (1995)
5           6                       Heat (1995)
6           7                    Sabrina (1995)
...       ...                               ...
8287   106782   Wolf of Wall Street, The (2013)
8354   109374  Grand Budapest Hotel, The (2014)
8358   109487               Interstellar (2014)
8457   112852    Guardians of the Galaxy (2014)
8673   122904                   Deadpool (2016)

                                           genres  rating_count  \
0     Adventure|Animation|Children|Comedy|Fantasy           215
1                      Adventure|Children|Fantasy           110
2                                  Comedy|Romance            52
5                           Action|Crime|Thriller           102
6                                  Comedy|Romance            54
...                                           ...           ...
8287                           Comedy|Crime|Drama            54
8354                                 Comedy|Drama            52
8358                                  Sci-Fi|IMAX            73
8457                      Action|Adventure|Sci-Fi            59
8673               Action|Adventure|Comedy|Sci-Fi            54

      average_rating
0           3.920930
1           3.431818
2           3.259615
5           3.946078
6           3.185185
...              ...
8287        3.916667
8354        3.778846
8358        3.993151
8457        4.050847
8673        3.833333

[436 rows x 5 columns]

In [51]:
most_popular_movie = filtered_df.loc[filtered_df['average_rating'].idxmax()]

print(f"The most popular movie based on average user ratings is '{most_popular_movie['title']}' with an average rating of {most_popular_movie['average_rating']:.2f}.")

The most popular movie based on average user ratings is 'Shawshank Redemption, The (1994)' with an average rating of 4.43.

In [53]:
import pandas as pd

# Assuming grouped_df is already created with columns: movieId, rating_count, average_rating

# Sort the DataFrame by rating_count in descending order and select the top 5
top_5_movies = grouped_df.sort_values(by='rating_count', ascending=False).head(5)

# Load movie names for these IDs
top_5_movies_with_names = pd.merge(top_5_movies, title, on='movieId')

print(top_5_movies_with_names[['title', 'rating_count']])

                              title  rating_count
0               Forrest Gump (1994)           329
1  Shawshank Redemption, The (1994)           317
2               Pulp Fiction (1994)           307
3  Silence of the Lambs, The (1991)           279
4                Matrix, The (1999)           278

In [54]:

# Merge the DataFrames on 'movieId'
merged_df = pd.merge(grouped_df, title, on='movieId')

# Filter Sci-Fi movies
sci_fi_movies = merged_df[merged_df['genres'].str.contains('Sci-Fi', case=False)]

# Sort by rating_count in descending order and select the third movie
third_most_popular_sci_fi = sci_fi_movies.sort_values(by='rating_count', ascending=False).iloc[2]

print(f"The third most popular Sci-Fi movie based on the number of user ratings is '{third_most_popular_sci_fi['title']}' with {third_most_popular_sci_fi['rating_count']} ratings.")

The third most popular Sci-Fi movie based on the number of user ratings is 'Jurassic Park (1993)' with 238 ratings.

In [56]:
# Merge the DataFrames on movieId
merged_df = pd.merge(imdb, title, on='movieId')

# Find the movie with the highest IMDB rating
highest_rated_movie = merged_df.loc[merged_df['imdbId'].idxmax()]

# Extract the movieId
highest_rated_movie_id = highest_rated_movie['movieId']

print(f"The movieId of the movie with the highest IMDB rating is: {highest_rated_movie_id}")

The movieId of the movie with the highest IMDB rating is: 193587

In [57]:
# Merge the DataFrames on movieId
merged_df = pd.merge(imdb, title, on='movieId')

In [58]:
# Filter for Sci-Fi movies
sci_fi_df = merged_df[merged_df['genres'].str.contains('Sci-Fi', case=False, na=False)]

In [59]:
# Find the Sci-Fi movie with the highest IMDB rating
best_sci_fi_movie = sci_fi_df.loc[sci_fi_df['imdbId'].idxmax()]

# Get the movieId of that movie
best_sci_fi_movie_id = best_sci_fi_movie['movieId']

print(f"The movieId of the Sci-Fi movie with the highest IMDB rating is: {best_sci_fi_movie_id}")

The movieId of the Sci-Fi movie with the highest IMDB rating is: 179053